<div class="m-portlet__body">
    <!--begin: Search Form -->
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
                <div class="form-group m-form__group row align-items-center">
                    <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                            <div class="m-form__label">
                                <label>
                                    Status:
                                </label>
                            </div>
                            <div class="m-form__control">
                                <div class="dropdown bootstrap-select form-control m-bootstrap-select"><select class="form-control m-bootstrap-select"
                                        id="m_form_status" tabindex="-98">
                                        <option value="">
                                            All
                                        </option>
                                        <option value="1">
                                            Pending
                                        </option>
                                        <option value="2">
                                            Delivered
                                        </option>
                                        <option value="3">
                                            Canceled
                                        </option>
                                    </select><button type="button" class="btn dropdown-toggle bs-placeholder btn-light"
                                        data-toggle="dropdown" role="button" data-id="m_form_status" title="All">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                All
                                            </div>
                                        </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu " role="combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                            <div class="m-form__label">
                                <label class="m-label m-label--single">
                                    Type:
                                </label>
                            </div>
                            <div class="m-form__control">
                                <div class="dropdown bootstrap-select form-control m-bootstrap-select"><select class="form-control m-bootstrap-select"
                                        id="m_form_type" tabindex="-98">
                                        <option value="">
                                            All
                                        </option>
                                        <option value="1">
                                            Online
                                        </option>
                                        <option value="2">
                                            Retail
                                        </option>
                                        <option value="3">
                                            Direct
                                        </option>
                                    </select><button type="button" class="btn dropdown-toggle bs-placeholder btn-light"
                                        data-toggle="dropdown" role="button" data-id="m_form_type" title="All">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                All
                                            </div>
                                        </div>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu " role="combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                    <span>
                        <i class="la la-cart-plus"></i>
                        <span>
                            New Order
                        </span>
                    </span>
                </a>
                <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
        </div>
    </div>
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">
        <table class="m-datatable__table">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row" style="left: 0px;">
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 132px;">Tên</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 132px;">Mô tả</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 132px;">Chức năng</span></th>
                </tr>
            </thead>
            <ng-container *ngIf="(this.dataRole.Count == 0) else dataBody">
                <tbody class="no-data-pr">
                    <tr>
                        <td colspan="20">No data available in table</td>
                    </tr>
                </tbody>
            </ng-container>
            <ng-template #dataBody>
                <tbody class="m-datatable__body">
                    <tr *ngFor="let item of dataRole.Items; let i = index" [attr.data-row]="i" class="m-datatable__row"
                        [ngClass]="{'m-datatable__row--even': (i%2!=0)}" style="left: 0px;">
                        <td class="m-datatable__cell"><span style="width: 132px">{{item.Name}}</span></td>
                        <td class="m-datatable__cell"><span style="width: 132px">{{item.Description}}</span></td>
                        <td data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                            <span style="overflow: visible; position: relative; width: 110px;">
                                <div class="dropdown ">
                                    <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                        data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                        <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>
                                        <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>
                                    </div>
                                </div>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="View "> <i class="la la-edit"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
    <!--end: Datatable -->
</div>