.name-content {
    padding-left: 1%;
  }
  
  .name-title {
    font-weight: bold;
    padding-left: 1%;
  }
  
  .type-mode-title,
  .leave-days-title {
    font-weight: bold;
    width: 35%;
  }
  
  .right{
    width: 72px;
    white-space: nowrap;
    text-align: right;
  }
  