<div class="app-dropdown" [attachOutsideOnClick]="true" (clickOutside)="onClickedOutside($event)">
    <div *ngIf="multiple" class="control" (click)="isShow = !isShow" [ngClass]="{'active' :selected && selected.length > 0}">
      <div class="icon" *ngIf="icon">
        <i class="{{icon}}"></i>
      </div>
      <div class="input">
        <div class="left">
          <span *ngIf="!selectedItem">{{placeholderMultiple}}</span>
          <span *ngIf="selectedItem">{{selectedItem.value}}</span>
        </div>
        <div class="right">
          <span>
            <span *ngIf="selected && selected.length > 0 && multiple">({{selected.length}}) </span>
            <i *ngIf="!isShow" class="la la-angle-down"></i>
            <i *ngIf="isShow" class="la la-angle-up"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="!multiple" class="control" (click)="isShow = !isShow" [ngClass]="{'active' :selectedItemValue && selectedItemValue.length > 0}">
      <div class="icon" *ngIf="icon">
        <i class="{{icon}}"></i>
      </div>
      <div class="input">
        <div class="left">
          <span>{{selectedItemValue ? selectedItemValue : placeholderSingle }}</span>
        </div>
        <div class="right">
          <span>
            <span *ngIf="selected && selected.length > 0 && multiple">({{selected.length}}) </span>
            <i *ngIf="!isShow" class="la la-angle-down"></i>
            <i *ngIf="isShow" class="la la-angle-up"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="multiple" class="content" [ngClass]="{'invisible': !isShow}">
      <div class="selected" *ngIf="selected && selected.length > 0">
        <div class="left">
          <div class="item" *ngFor="let item of selected">
            <span>{{item.value}}</span>
            <div class="m-demo-icon__preview">
              <i class="la la-close" (mouseup)="removeSelected(item)"></i>
            </div>
          </div>
        </div>
        <div class="right">
          <span>
            <a class="clear-all" (mouseup)="clearAll()">Clear all</a>
          </span>
        </div>
      </div>
      <div class="search">
        <app-search-dropdown #searchBox [search]="search" *ngIf="isShow" [placeholderText]="placeholderText" (searchData)="receiveDataFilterList($event)"></app-search-dropdown>
      </div>
      <div class="list">
        <ul>
          <li *ngFor="let item of filteredItems">
            <label class="m-checkbox t-checkbox">
              <input type="checkbox" [(checked)]="item.selected" (change)="selectItem(item)">{{item.value}}
              <span></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  
    <div *ngIf="!multiple" class="content" [ngClass]="{'invisible': !isShow}">
      <div class="search">
        <app-search-dropdown *ngIf="isShow" [placeholderText]="placeholderText" (searchData)="searchData($event)"></app-search-dropdown>
      </div>
      <ul class="select-list">
        <li *ngFor="let item of data; let i = index" (click)="selectOneItem(i, item)">
          <span>{{item.value}}</span>
          <div><i *ngIf="item.selected" class="la la-check"></i></div>
        </li>
      </ul>
    </div>
  </div>