<ng-container *ngIf="!this.isDashboard">
    <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="this.isDashboard">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        <headerComponent></headerComponent>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                <!-- BEGIN: Aside Menu -->
                <asideMenuComponent></asideMenuComponent>
                <!-- END: Aside Menu -->
            </div>
            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <subheaderComponent></subheaderComponent>
                <!-- END: Subheader -->
                <div class="m-content">
                    <div class="m-portlet m-portlet--mobile">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footerComponent></footerComponent>
        <!-- end::Footer -->
    </div>
</ng-container>