<div class="has-text-centered">
    <pagination-controls
    (pageChange)="changeSelectPerPage($event)" 
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel"
    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="labels.screenReaderPageLabel"
    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
    [directionLinks]="directionLinks"
    [autoHide]="autoHide"
    [responsive]="responsive"
    ></pagination-controls>
</div>