<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1"
    m-menu-scrollable="0" m-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <ng-container *ngFor="let item of SIDE_BARS;let indexParent = index">
            <li [ngClass] = "!item.isOpenMenu ? 'm-menu__item m-menu__item--submenu' : 'm-menu__item m-menu__item--submenu m-menu__item--open' " aria-haspopup="true"
                m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle" (click)="onSelectParent(item, indexParent)">
                    <i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">
                        {{item.name}}
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu" m-hidden-height="160" [ngClass]="{'hidden-child': !item.isOpenMenu}">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <ng-container *ngFor="let child of item.child; let indexChild = index">
                            <li (click)="onSelectChild(indexParent, indexChild)" class="m-menu__item">
                                <a class="m-menu__link" [routerLink]="child.routerChild" [ngClass]="{'child-selected': selectedChild == indexChild && selectedParent == indexParent}">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                        <span></span>
                                    </i>
                                    <span style="width: 65%;" class="m-menu__link-text position">{{child.nameChild}}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>

        </ng-container>


    </ul>
</div>

